{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
    <h1 class="my-4">
        {% if request.path == '/new-bon' %} New Bon {% else %} Edit Bon {% endif %}
    </h1>
    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <div class="col-6">
                    <select name="hawker_id" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option selected>Choose Hawker...</option>
                        {% for hawker in hawkers %}
                            <option value={{hawker.id}}>{{hawker.name}}</option>
                        {% endfor %}
                    </select>    
                </div>
                <div class="col-6">
                    <input type="date"  class="custom-select mr-sm-2" name="date">
                </div>
                <br/><br/>
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">---</th>
                        <th scope="col">Hawker Stock Increment</th>
                        <th scope="col">Hawker Stock</th>
                        <th scope="col">Sold Product</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in product %}
                      {% for object in bon %}
                      <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.stock}}</td>
                        <td>---</td>
                        <td><input type="number" name="stock_increment" placeholder="Input number"></input></td>
                        <td>{{ object.hawker_stock }}</td>
                        <td><input type="number" name="sold_product" placeholder="Input number"></td>
                       
                      </tr>
                      {% endfor %}
                      {% endfor %}
                    </tbody>
                  </table>

                <input type="submit" {% if request.path == '/new-bon' %} value="Add" {% else %} value="Update" {% endif %} class="btn btn-success" onclick=""/>
                <a href="{% url 'bon_list' %}"><button type="button" class="btn btn-secondary">Back</button></a>
            </form>
        </div>
    </div>
    {% else %}
        You're not allowed!<br/><br/>
        Click <a href="{% url 'register' %}">Here</a> To Register.
    {% endif %}
{% endblock %}