{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
    <h1 class="my-4">{% if request.path == '/new-product/' %} New Product {% else %} Edit - {% endif %}
        {% if request.path != '/new-product/' %}<small>{{ product.name }}</small>{% endif %}
    </h1>
    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" {% if request.path == '/new-product' %} value="Add" {% else %} value="Update" {% endif %} class="btn btn-success"/>
                <a href="{% url 'product_list' %}"><button type="button" class="btn btn-secondary">Back</button></a>
            </form>
        </div>
    </div>
    {% else %}
    You're not allowed!<br/><br/>
    Click <a href="{% url 'register' %}">Here</a> To Register.
    {% endif %}
{% endblock %}